<% layout('layout/boilerplate')%>
<div class="alert alert-danger" role="alert">
  <img src="/pagenotfound.png">
    <h4 class="alert-heading"><%=err.message%></h4>
    <p><%=err.stack%></p>
    <hr>
    
  </div>